In [4]:
import pandas as pd
import numpy as np
import glob, os, sys

osp = sys.platform
# import matplotlib.pyplot as plt
# %matplotlib inline

from utilities import PlotGame, LoadData, make_video

# ---------------------------------------------------------
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
gameid='0021500463'

# directories
# CHANGE HERE
main_dir = '../'
game_dir = main_dir+'data/'
# court_path = data_dir + 'nba_court_T.png'

Data = LoadData(main_dir, game_dir)
data = Data.load_game(gameid)
event_number, moment_number = 0, 0

In [6]:
# get events and number of events
event_df = pd.DataFrame(data['events'])
n_events = event_df.shape[0]
# get numebr of moments
moments = event_df.iloc[event_number,:]['moments']
n_moments = len(moments)

print(n_moments, event_df.shape)
event_df.head()

150 (231, 8)

,end_time_left,home,moments,orig_events,playbyplay,quarter,start_time_left,visitor
0,702.31,"{'abbreviation': 'CHI', 'players': [{'playerid...","[[1, 1451351428029, 708.28, 12.78, None, [[-1,...",[0],GAME_ID EVENTNUM EVENTMSGTYPE EVENTMS...,1,708.28,"{'abbreviation': 'TOR', 'players': [{'playerid..."
1,686.28,"{'abbreviation': 'CHI', 'players': [{'playerid...","[[1, 1451351428029, 708.28, 12.78, None, [[-1,...",[1],GAME_ID EVENTNUM EVENTMSGTYPE EVENTMS...,1,708.28,"{'abbreviation': 'TOR', 'players': [{'playerid..."
2,668.42,"{'abbreviation': 'CHI', 'players': [{'playerid...","[[1, 1451351444029, 692.25, 12.21, None, [[-1,...","[2, 3]",GAME_ID EVENTNUM EVENTMSGTYPE EVENTMS...,1,692.25,"{'abbreviation': 'TOR', 'players': [{'playerid..."
3,665.71,"{'abbreviation': 'CHI', 'players': [{'playerid...","[[1, 1451351463029, 673.22, 21.44, None, [[-1,...","[4, 5]",GAME_ID EVENTNUM EVENTMSGTYPE EVENTMS...,1,673.22,"{'abbreviation': 'TOR', 'players': [{'playerid..."
4,646.64,"{'abbreviation': 'CHI', 'players': [{'playerid...","[[1, 1451351473027, 668.0, 22.9, None, [[-1, -...",[6],GAME_ID EVENTNUM EVENTMSGTYPE EVENTMS...,1,668.00,"{'abbreviation': 'TOR', 'players': [{'playerid..."

In [4]:
# save all moments for a specific events
moments = range(n_moments)
for i in moments:
    print(i, end='\r')
    Plot.load_moment2img(data, event_number, i)

In [5]:
# prepare to save videos
event_dir = game_dir + 'game' + str(gameid) + '/' + 'event' + str(event_number) + '/'
video_name = event_dir + str(event_number) + '.mp4'
print(video_name)
images = glob.glob(event_dir + "*.png")
if osp == 'linux':
    # this is pretty hard-coded, should change
    images = sorted(images, key=lambda x: int(x.split('.')[2].split('/')[-1]))
else:
    images = sorted(images, key=lambda x: int(x.split('\\')[-1].split('.')[0]))
# print(images)
# save to video
make_video(images, video_name, 15)

../data/game0021500463/event0/0.mp4
The output video is ../data/game0021500463/event0/0.mp4

In [32]:
pp = [event_df.iloc[i,:]['playbyplay'].to_dict(orient='records') for i in range(len(event_df))]

In [39]:
pd.DataFrame(pp)

,0,1,2,3,4,5,6,7,8
0,"{'GAME_ID': '0021500463', 'EVENTNUM': 2, 'EVEN...",None,None,None,None,None,None,None,None
1,"{'GAME_ID': '0021500463', 'EVENTNUM': 2, 'EVEN...",None,None,None,None,None,None,None,None
2,"{'GAME_ID': '0021500463', 'EVENTNUM': 3, 'EVEN...","{'GAME_ID': '0021500463', 'EVENTNUM': 4, 'EVEN...","{'GAME_ID': '0021500463', 'EVENTNUM': 5, 'EVEN...","{'GAME_ID': '0021500463', 'EVENTNUM': 6, 'EVEN...",None,None,None,None,None
3,"{'GAME_ID': '0021500463', 'EVENTNUM': 5, 'EVEN...","{'GAME_ID': '0021500463', 'EVENTNUM': 6, 'EVEN...","{'GAME_ID': '0021500463', 'EVENTNUM': 7, 'EVEN...",None,None,None,None,None,None
4,"{'GAME_ID': '0021500463', 'EVENTNUM': 8, 'EVEN...","{'GAME_ID': '0021500463', 'EVENTNUM': 9, 'EVEN...",None,None,None,None,None,None,None
5,None,None,None,None,None,None,None,None,None
6,None,None,None,None,None,None,None,None,None
7,None,None,None,None,None,None,None,None,None
8,"{'GAME_ID': '0021500463', 'EVENTNUM': 16, 'EVE...",None,None,None,None,None,None,None,None
9,"{'GAME_ID': '0021500463', 'EVENTNUM': 17, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 18, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 19, 'EVE...",None,None,None,None,None,None
10,None,None,None,None,None,None,None,None,None
11,"{'GAME_ID': '0021500463', 'EVENTNUM': 20, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 21, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 22, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 23, 'EVE...",None,None,None,None,None
12,"{'GAME_ID': '0021500463', 'EVENTNUM': 21, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 22, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 23, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 24, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 25, 'EVE...",None,None,None,None
13,"{'GAME_ID': '0021500463', 'EVENTNUM': 26, 'EVE...",None,None,None,None,None,None,None,None
14,None,None,None,None,None,None,None,None,None
15,"{'GAME_ID': '0021500463', 'EVENTNUM': 32, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 33, 'EVE...",None,None,None,None,None,None,None
16,"{'GAME_ID': '0021500463', 'EVENTNUM': 33, 'EVE...",None,None,None,None,None,None,None,None
17,"{'GAME_ID': '0021500463', 'EVENTNUM': 34, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 35, 'EVE...",None,None,None,None,None,None,None
18,"{'GAME_ID': '0021500463', 'EVENTNUM': 35, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 36, 'EVE...",None,None,None,None,None,None,None
19,"{'GAME_ID': '0021500463', 'EVENTNUM': 36, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 37, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 38, 'EVE...",None,None,None,None,None,None
20,"{'GAME_ID': '0021500463', 'EVENTNUM': 38, 'EVE...",None,None,None,None,None,None,None,None
21,"{'GAME_ID': '0021500463', 'EVENTNUM': 39, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 40, 'EVE...",None,None,None,None,None,None,None
22,"{'GAME_ID': '0021500463', 'EVENTNUM': 39, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 40, 'EVE...",None,None,None,None,None,None,None
23,"{'GAME_ID': '0021500463', 'EVENTNUM': 41, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 42, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 43, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 45, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 44, 'EVE...",None,None,None,None
24,None,None,None,None,None,None,None,None,None
25,"{'GAME_ID': '0021500463', 'EVENTNUM': 46, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 47, 'EVE...",None,None,None,None,None,None,None
26,"{'GAME_ID': '0021500463', 'EVENTNUM': 48, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 49, 'EVE...",None,None,None,None,None,None,None
27,"{'GAME_ID': '0021500463', 'EVENTNUM': 49, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 50, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 51, 'EVE...",None,None,None,None,None,None
28,None,None,None,None,None,None,None,None,None
29,"{'GAME_ID': '0021500463', 'EVENTNUM': 55, 'EVE...","{'GAME_ID': '0021500463', 'EVENTNUM': 56, 'EVE...",None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...
201,"{'GAME_ID': '0021500463', 'EVENTNUM': 454, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 455, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 456, 'EV...",None,None,None,None,None,None
202,"{'GAME_ID': '0021500463', 'EVENTNUM': 455, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 456, 'EV...",None,None,None,None,None,None,None
203,"{'GAME_ID': '0021500463', 'EVENTNUM': 457, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 458, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 459, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 461, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 460, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 462, 'EV...",None,None,None
204,"{'GAME_ID': '0021500463', 'EVENTNUM': 462, 'EV...",None,None,None,None,None,None,None,None
205,"{'GAME_ID': '0021500463', 'EVENTNUM': 463, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 465, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 464, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 466, 'EV...",None,None,None,None,None
206,None,None,None,None,None,None,None,None,None
207,None,None,None,None,None,None,None,None,None
208,"{'GAME_ID': '0021500463', 'EVENTNUM': 476, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 477, 'EV...",None,None,None,None,None,None,None
209,"{'GAME_ID': '0021500463', 'EVENTNUM': 477, 'EV...",None,None,None,None,None,None,None,None
210,"{'GAME_ID': '0021500463', 'EVENTNUM': 478, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 479, 'EV...",None,None,None,None,None,None,None
211,"{'GAME_ID': '0021500463', 'EVENTNUM': 479, 'EV...",None,None,None,None,None,None,None,None
212,"{'GAME_ID': '0021500463', 'EVENTNUM': 480, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 481, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 482, 'EV...",None,None,None,None,None,None
213,"{'GAME_ID': '0021500463', 'EVENTNUM': 483, 'EV...",None,None,None,None,None,None,None,None
214,"{'GAME_ID': '0021500463', 'EVENTNUM': 483, 'EV...",None,None,None,None,None,None,None,None
215,"{'GAME_ID': '0021500463', 'EVENTNUM': 484, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 485, 'EV...",None,None,None,None,None,None,None
216,"{'GAME_ID': '0021500463', 'EVENTNUM': 486, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 487, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 488, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 489, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 490, 'EV...",None,None,None,None
217,None,None,None,None,None,None,None,None,None
218,None,None,None,None,None,None,None,None,None
219,None,None,None,None,None,None,None,None,None
220,None,None,None,None,None,None,None,None,None
221,None,None,None,None,None,None,None,None,None
222,None,None,None,None,None,None,None,None,None
223,"{'GAME_ID': '0021500463', 'EVENTNUM': 518, 'EV...",None,None,None,None,None,None,None,None
224,None,None,None,None,None,None,None,None,None
225,"{'GAME_ID': '0021500463', 'EVENTNUM': 519, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 520, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 521, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 522, 'EV...","{'GAME_ID': '0021500463', 'EVENTNUM': 524, 'EV...",None,None,None,None
226,"{'GAME_ID': '0021500463', 'EVENTNUM': 524, 'EV...",None,None,None,None,None,None,None,None
227,None,None,None,None,None,None,None,None,None
228,None,None,None,None,None,None,None,None,None
229,None,None,None,None,None,None,None,None,None
230,"{'GAME_ID': '0021500463', 'EVENTNUM': 535, 'EV...",None,None,None,None,None,None,None,None

In [56]:
pp_df = pd.DataFrame([j for i in pp for j in i])
# pp_df[2]

In [58]:
pp_df.head(10)

,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,PERSON2TYPE,...,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,TEAM,VISITORDESCRIPTION,WCTIMESTRING,event_str,time_left
0,1,1,2,0021500463,None,None,11:46,1,5.0,0,...,None,NaN,None,2 - 0,-2,TOR,DeRozan 15' Jump Shot (2 PTS),8:11 PM,make,706
1,1,1,2,0021500463,None,None,11:46,1,5.0,0,...,None,NaN,None,2 - 0,-2,TOR,DeRozan 15' Jump Shot (2 PTS),8:11 PM,make,706
2,1,2,3,0021500463,MISS Butler 26' 3PT Jump Shot,None,11:26,1,4.0,0,...,None,NaN,None,None,None,CHI,None,8:11 PM,miss,686
3,0,4,4,0021500463,None,None,11:25,1,5.0,0,...,None,NaN,None,None,None,TOR,Biyombo REBOUND (Off:0 Def:1),8:11 PM,rebound,685
4,1,2,5,0021500463,None,None,11:12,1,5.0,0,...,None,NaN,None,None,None,TOR,MISS DeRozan 15' Jump Shot,8:12 PM,miss,672
5,0,4,6,0021500463,Gasol REBOUND (Off:0 Def:1),None,11:11,1,4.0,0,...,None,NaN,None,None,None,CHI,None,8:12 PM,rebound,671
6,1,2,5,0021500463,None,None,11:12,1,5.0,0,...,None,NaN,None,None,None,TOR,MISS DeRozan 15' Jump Shot,8:12 PM,miss,672
7,0,4,6,0021500463,Gasol REBOUND (Off:0 Def:1),None,11:11,1,4.0,0,...,None,NaN,None,None,None,CHI,None,8:12 PM,rebound,671
8,40,5,7,0021500463,Mirotic Out of Bounds Lost Ball Turnover (P1.T1),None,11:08,1,4.0,0,...,None,NaN,None,None,None,CHI,None,8:12 PM,out_of_bound/turnover/steal,668
9,1,2,8,0021500463,None,None,10:52,1,5.0,0,...,None,NaN,None,None,None,TOR,MISS Carroll 17' Jump Shot,8:12 PM,miss,652

In [61]:
pp_df.sort_values(by='EVENTNUM', inplace=True)

In [62]:
pp_df.head()

,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,PERSON2TYPE,...,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,TEAM,VISITORDESCRIPTION,WCTIMESTRING,event_str,time_left
0,1,1,2,0021500463,None,None,11:46,1,5.0,0,...,None,NaN,None,2 - 0,-2,TOR,DeRozan 15' Jump Shot (2 PTS),8:11 PM,make,706
1,1,1,2,0021500463,None,None,11:46,1,5.0,0,...,None,NaN,None,2 - 0,-2,TOR,DeRozan 15' Jump Shot (2 PTS),8:11 PM,make,706
2,1,2,3,0021500463,MISS Butler 26' 3PT Jump Shot,None,11:26,1,4.0,0,...,None,NaN,None,None,None,CHI,None,8:11 PM,miss,686
3,0,4,4,0021500463,None,None,11:25,1,5.0,0,...,None,NaN,None,None,None,TOR,Biyombo REBOUND (Off:0 Def:1),8:11 PM,rebound,685
4,1,2,5,0021500463,None,None,11:12,1,5.0,0,...,None,NaN,None,None,None,TOR,MISS DeRozan 15' Jump Shot,8:12 PM,miss,672

In [63]:
pp_df.shape

(393, 35)

In [64]:
pp_df.drop_duplicates().shape

(299, 35)

In [66]:
pp_df.drop_duplicates().head()

,EVENTMSGACTIONTYPE,EVENTMSGTYPE,EVENTNUM,GAME_ID,HOMEDESCRIPTION,NEUTRALDESCRIPTION,PCTIMESTRING,PERIOD,PERSON1TYPE,PERSON2TYPE,...,PLAYER3_TEAM_CITY,PLAYER3_TEAM_ID,PLAYER3_TEAM_NICKNAME,SCORE,SCOREMARGIN,TEAM,VISITORDESCRIPTION,WCTIMESTRING,event_str,time_left
0,1,1,2,0021500463,None,None,11:46,1,5.0,0,...,None,NaN,None,2 - 0,-2,TOR,DeRozan 15' Jump Shot (2 PTS),8:11 PM,make,706
2,1,2,3,0021500463,MISS Butler 26' 3PT Jump Shot,None,11:26,1,4.0,0,...,None,NaN,None,None,None,CHI,None,8:11 PM,miss,686
3,0,4,4,0021500463,None,None,11:25,1,5.0,0,...,None,NaN,None,None,None,TOR,Biyombo REBOUND (Off:0 Def:1),8:11 PM,rebound,685
4,1,2,5,0021500463,None,None,11:12,1,5.0,0,...,None,NaN,None,None,None,TOR,MISS DeRozan 15' Jump Shot,8:12 PM,miss,672
5,0,4,6,0021500463,Gasol REBOUND (Off:0 Def:1),None,11:11,1,4.0,0,...,None,NaN,None,None,None,CHI,None,8:12 PM,rebound,671

In [65]:
pp_df.iloc[0,:]

EVENTMSGACTIONTYPE                                       1
EVENTMSGTYPE                                             1
EVENTNUM                                                 2
GAME_ID                                         0021500463
HOMEDESCRIPTION                                       None
NEUTRALDESCRIPTION                                    None
PCTIMESTRING                                         11:46
PERIOD                                                   1
PERSON1TYPE                                              5
PERSON2TYPE                                              0
PERSON3TYPE                                              0
PLAYER1_ID                                          201942
PLAYER1_NAME                                 DeMar DeRozan
PLAYER1_TEAM_CITY                                  Toronto
PLAYER1_TEAM_ID                                1.61061e+09
PLAYER1_TEAM_NICKNAME                              Raptors
PLAYER2_ID                                               0
PLAYER2_NAME                                          None
PLAYER2_TEAM_ABBREVIATION                             None
PLAYER2_TEAM_CITY                                     None
PLAYER2_TEAM_ID                                        NaN
PLAYER2_TEAM_NICKNAME                                 None
PLAYER3_ID                                               0
PLAYER3_NAME                                          None
PLAYER3_TEAM_ABBREVIATION                             None
PLAYER3_TEAM_CITY                                     None
PLAYER3_TEAM_ID                                        NaN
PLAYER3_TEAM_NICKNAME                                 None
SCORE                                                2 - 0
SCOREMARGIN                                             -2
TEAM                                                   TOR
VISITORDESCRIPTION           DeRozan 15' Jump Shot (2 PTS)
WCTIMESTRING                                       8:11 PM
event_str                                             make
time_left                                              706
Name: 0, dtype: object

In [9]:
data.keys()

dict_keys(['gamedate', 'gameid', 'events'])

In [10]:
data['gamedate'], data['gameid']

('2015-12-28', '0021500463')

In [11]:
event_df.iloc[0,:]

end_time_left                                                 702.31
home               {'abbreviation': 'CHI', 'players': [{'playerid...
moments            [[1, 1451351428029, 708.28, 12.78, None, [[-1,...
orig_events                                                      [0]
playbyplay               GAME_ID  EVENTNUM  EVENTMSGTYPE  EVENTMS...
quarter                                                            1
start_time_left                                               708.28
visitor            {'abbreviation': 'TOR', 'players': [{'playerid...
Name: 0, dtype: object

In [12]:
homes = event_df.iloc[0,:]['home']
moments = event_df.iloc[0,:]['moments']
pp = event_df.iloc[0,:]['playbyplay']
visitor = event_df.iloc[0,:]['visitor']

In [13]:
len(moments)

150

In [14]:
150//25

6

In [15]:
# homes
moments[2]

[1,
 1451351428109,
 708.2,
 12.72,
 None,
 [[-1, -1, 18.17901, 14.27343, 9.20931],
  [1610612741, 2200, 10.88838, 21.3161, 0.0],
  [1610612741, 201959, 16.21462, 20.19832, 0.0],
  [1610612741, 201565, 8.87395, 39.27506, 0.0],
  [1610612741, 202710, 21.38339, 33.03285, 0.0],
  [1610612741, 202703, 8.3807, 11.72554, 0.0],
  [1610612761, 2449, 24.31275, 43.98339, 0.0],
  [1610612761, 201960, 1.15778, 2.62884, 0.0],
  [1610612761, 200768, 7.37522, 48.22901, 0.0],
  [1610612761, 201942, 18.0187, 14.13181, 0.0],
  [1610612761, 202687, 10.16771, 26.68142, 0.0]]]

In [16]:
# pp.to_dict(orient='records')
pp

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,...,PERSON3TYPE,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ID,PLAYER3_TEAM_CITY,PLAYER3_TEAM_NICKNAME,PLAYER3_TEAM_ABBREVIATION,TEAM,time_left,event_str
2,0021500463,2,1,1,1,8:11 PM,11:46,None,None,DeRozan 15' Jump Shot (2 PTS),...,0,0,None,NaN,None,None,None,TOR,706,make